/* style body */
body {
  font-family: Verdana;
  background-color: white;
  margin: 0px;
}

/* heading styles here */
header {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  color: #ffffff;
  padding: 3vh;
}

/* time section to be added later - including min-width */
time {
  min-width: 85px;
}

/* main styles */

/* button styles */

/* card styles */

/* start card styles */

/* question card styles */

/* score card styles */

/* leaderboard styles */

/* media queries */
